﻿@model IEnumerable<Library.Web.Models.Olvaso>

<h2>List of readers</h2>

@if (Model.Count() == 0)
{
    <p>No data in the database</p>
}
else
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Nev) </th>
            <th>@Html.DisplayNameFor(m => m.First().Szuletesidatum) </th>
            <th>Datasheet</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td>@Html.DisplayFor(m => item.Nev)</td>
        <td>@Html.DisplayFor(m => item.Szuletesidatum)</td>
        <td>@Html.ActionLink("[SHOW]", "Details", new { id = item.Olvasoid })</td>
        <td>@Html.ActionLink("[DEL]", "Remove", new { id = item.Olvasoid })</td>
        <td>@Html.ActionLink("[EDIT]", "Edit", new { id = item.Olvasoid })</td>

    </tr>
        }
    </table>
}