﻿@model Library.Web.Models.Olvaso

<h2>Edit one reader</h2>

@using (Html.BeginForm("Edit", "Reader"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Olvasoid)
    @Html.Hidden("editAction", ViewData["editAction"].ToString());

    <div class="editor-label">@Html.LabelFor(m => m.Olvasoid)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Olvasoid)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Nev)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Nev)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Szuletesidatum)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Szuletesidatum)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Cim)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Cim)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Telefonszam)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Telefonszam)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Email)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Email)</div>

    <input type="submit" value="SEND" />
}
