﻿@model Library.Web.Models.Olvaso
@{
    ViewBag.Title = "ReaderDetails";
}

<h2>ReaderDetails</h2>

@Html.ActionLink("Back to the list", "Index");

<table>
    <tr>
        <td>ID of the reader</td>
        <td>@Model.Olvasoid</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(m => m.Nev)</td>
        <td>@Html.DisplayFor(m => m.Nev)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Cim)</td>
        <td>@Html.DisplayFor(m => m.Cim)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Szuletesidatum)</td>
        <td>@Html.DisplayFor(m => m.Szuletesidatum)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Cim)</td>
        <td>@Html.DisplayFor(m => m.Cim)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Email)</td>
        <td>@Html.DisplayFor(m => m.Email)</td>
    </tr>
</table>

