﻿@model Library.Web.Models.OlvasoViewModel

@{
    ViewBag.Title = "ReaderIndex";
}

<h2>ReaderIndex</h2>

<p style="color:red; font-weight: bold">@TempData["editResult"]</p>

@Html.Partial("ReaderEdit", Model.EditedReader)

@Html.Partial("ReaderList", Model.ListofReaders)
