﻿@{
    ViewBag.Title = "API Test";

}

<h2>API test</h2>

<p id="message" style="color:red;font-weight:bold"></p>
<ul id="readers"></ul>
READER ID:
<input type="text" id="olvasoid" />
<br />
<button onclick="doList()">LIST</button>
<button onclick="doListNEW()">LIST2</button>
<button onclick="doAdd()">ADD</button>
<button onclick="doMod()">MOD</button>
<button onclick="doDel()">DEL</button>

@section scripts {
    <script language="javascript">
        var url = "http://localhost:52553/api/LibraryApi/";

        function htmlEncode(textValue) {
            return $("<div />").text(textValue).html();
        }

        function doList() {
            $.get(url + "all", null, function (data, status, jqxr) {
                alert("ALL: " + data);
            }, "html");
        }

        function doListNEW() {
            $("#readers").html("");
            $.getJSON(url + "all")
                .done(function (data) {
                $.each(data, function (key, item) {
                    var html = "<li>#" +
                        htmlEncode(item.Olvasoid) + " " +
                        htmlEncode(item.Nev) + " " +
                        htmlEncode(item.Cim) + " " +
                        htmlEncode(item.Email) + " " +
                        htmlEncode(item.Telefonszam) + " " +
                        htmlEncode(item.Szuletesidatum) + " " +
                        "</li>"
                    $("#readers").append(html);
                });
            });
        }

        function doAdd() {
            var olvaso = {
                "Olvasoid": "10", "Nev": "Valaki", "Cim": "Valakinek utca", "Email": "valakiemail", "Telefonszam": "123123", "Szuletesidatum": "2002-01-10"
            };
            $.post(url + "add", olvaso, function (data, status, jqxr) {
                $("#message").html("ADD: " + data.Operationresult);
            doListNEW();
            });
        }

        function doMod() {
            var newReader = {
                "Olvasoid": $("#olvasoid"), "Nev": "Valaki2", "Cim": "Valakinek utca", "Email": "valakiemail", "Telefonszam": "123123", "Szuletesidatum": "2002.01.10"
            };
            $.post(url + "mod", newReader, function (data, status, jqxr) {
                $("#message").html("MOD: " + data.Operationresult);
                doListNEW();
            });
        }

        function doDel() {
            $.get(url + "del", null, function (data, status, jqxr) {
                $("#message").html("DEL: " + data.Operationresult);
                doListNEW();
            });
        }

    </script>    
}